<% include _layouts/header %>

<h2 class="page-title">Edit your Profile</h2>
<a href="/users/profile" class="btn btn-primary">Back to profile</a>
<br><br>

<form method="post" action="/users/edit-profile">
    
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="name" value="<%= user.name %>" placeholder="Name">
    </div>
    
    <div class="form-group">
        <label>New Password</label>
        <input type="password" name="password" class="form-control"  placeholder="Password">
    </div>
    
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" name="password2" class="form-control"  placeholder="Confirm Password">
    </div>
    <input type="hidden" id="custId" name="username" value="<%= user.username %>">
    <button class="btn btn-default">Submit</button>
</form>

<% include _layouts/footer %>