<% include _layouts/header %>

<h1><%= title %></h1>

<div class="container-fluid well span6">
    <div class="row-fluid">
        <div class="span2" >

        </div>
        <div class="span2">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Action 
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/users/edit-profile"><span class="icon-wrench"></span> Modify name and password</a></li>
                    <li><a href="/users/add-address"><span class="icon-wrench"></span> Add new address</a></li>
                    <li><a href="/users/add-card"><span class="icon-wrench"></span> Add new card</a></li>
                </ul>
            </div>
        </div>
        <div class="span8">
            <h3>Name : <%= user.name %></h3>
            <h3>Email: <%= user.email %></h3>
            <h4><a href="/users/all-address">See All Address</a></h4>
            <h4><a href="/users/all-cards">See All Cards</a></h4>
        </div>


    </div>
</div>

<% include _layouts/footer %>